#contents, td, th{
  text-align: center;
}
body{
  text-align: center;
  background-image: linear-gradient(red, yellow);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.1pc;
}
form{
  background-color: aliceblue;
  margin: 5pc;
  border-radius: 15pc;
  border-style: double;
}
form h6{
  font-size: 23px;
}
#map{
  border: radius 5px;
}
table {
  margin: 1pc;
  font-family: arial, sans-serif;
  width: 70pc;
}
th{
  text-decoration: underline blue;
}
.cards{
  width: 20pc;
  /* margin: 5pc; */
}
.twinkle{
  animation: animate 1.5s linear infinite;
}
@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}
.about{
  margin: 1.5pc;
}