body {
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    background-size: cover;
  }
#contents{
  text-align: center;
}
form{
  text-align: center;
}
#map{
  margin: 3pc;
  border: radius 5px;
}