body {
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    background-size: cover;
  }
#contents{
  text-align: center;
}
form{
  text-align: center;
}
#map{
  height: 360px;
  margin: 3pc;
  
}
iframe{
  border: radius 25px;
}